<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container h-75 mt-5">
    <main>
      <div class="container-lg align-items-center">
        <form action="register" method="POST">
          <div class="mb-3 row">
            <label for="staticName" class="col-sm-2 col-form-label">
              Username
            </label>
            <div class="col-sm-10">
              <input
                name="name"
                type="text"
                class="form-control"
                id="staticName"
                placeholder="D'koko"
              />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">
              Email
            </label>
            <div class="col-sm-10">
              <input
                name="email"
                type="text"
                class="form-control"
                id="staticEmail"
                placeholder="email@example.com"
              />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">
              Password
            </label>
            <div class="col-sm-10">
              <input
                name="password"
                type="password"
                class="form-control"
                id="inputPassword"
              />
            </div>
          </div>

          <div class="mb-3 row d-flex justify-content-center">
            <button type="submit" class="btn btn-secondary">Register</button>
          </div>
        </form>
        <div class="d-flex justify-content-center">
          <a href="login">Login</a>
        </div>
      </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
